<div class="container">
  <app-button [name]="'voltar'"></app-button>


  <div class="map-wrapper">
    <div id="map"></div>


    <div class="loading-overlay" *ngIf="carregando">
      <div class="spinner"></div>
      <p>Carregando informações...</p>
    </div>
  </div>

  <!-- Conteúdo mostrado somente quando dados carregados -->
  <div class="carregando" *ngIf="!carregando">
    <p><strong>Região do usuário:</strong> {{ nomeRegiaoUsuario }}</p>
    <p><strong>Região do Esp32:</strong> {{ nomeRegiaoEsp }}</p>
    <p><strong>Distância até o sensor:</strong> {{ formatarDistancia(distanciaMetros) }}</p>

    <p><strong>Dados dos sensores:</strong></p>
    <div class="dados" *ngFor="let sensor of dados">
      <p>
        - {{ sensor.tipo === 'Pluviométrico' ? 'Medidor' : 'Sensor de ' + sensor.tipo }}:
        {{ sensor.valor + ' (' + sensor.unidadeMedida + ')' }}
      </p>
    </div>

    <div class="probabilidade">
      <h3>Probabilidade de Alagamento:</h3>
      <h1>{{ probabilidade }}%</h1>
    </div>
  </div>
</div>

<app-alert></app-alert>
