<div class="container">
  <div class="container-logo">
    <img src="/assets/logos/logo.png" />
    <h1>Sistema de Monitoramento e Previsão de Enchentes</h1>
  </div>

  <div class="mapa">
    <!-- Mapa principal -->
    <div id="main-map" ></div>
    
<div class="check-box" *ngIf="!desejaNotificacao">
  <input type="checkbox" (click)="toggleCheckBox()" />
  <p>Desejo receber notificações quando estiver em área de risco</p>
</div>

<div *ngIf="desejaNotificacao" class="check-box-ativada" style="color: green; font-weight: bold;">
  ✅ Notificações ativadas!
</div>


    <!-- Botões abaixo do mapa -->
    <div class="botoes" >
      <app-button [name]="'selecionarArea'"></app-button>
      <app-button [name]="'areaSelecionada'"></app-button>
    </div>

   <!-- Modal de seleção de área -->
<div class="modal" [class.show]="mostrarModal">


  <div class="modal-content">

    <i class="fi fi-br-cross fechar" (click)="fecharModal()"></i>
    <div class="local">
    <i class="fi fi-rs-map-marker marker"></i>
       <p>Escolha um novo local:</p>
       </div>
    <input
  id="input-localizacao"
  type="text"
  placeholder="Procure um local..."
  class="input-autocomplete"/>

    <div id="modal-map" ></div>

    <div style="margin-top: 10px; text-align: center;">
      <app-button [name]="'confirmarArea'"></app-button>
    </div>
  </div>
</div>

  </div>

  <app-alert></app-alert>
</div>
