
/************************************************** Mobile First *********************************************/

h1,h2,h3,p,a{
    font-family: 'CoreFont';
}
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.container > .container-logo{
    display: flex;
    align-items: center;
    width: 80%;
}


.container > .container-logo > img{
    width: 150px;
    height: 150px;
}
.container > .container-logo > h1{
    font-size: calc(var(--FontSize)*1.683);
    font-weight: 600;
    color: var(--logo);
    margin-left: 4px;
}
.container > .container-logo > h1:hover{
    cursor:default;
}

.check-box{
  display: flex;
  flex-direction: row;
  font-family: 'CoreFont';
  color: gray;
  padding: 20px 10px 10px 10px;
  gap: 5px;
}

.check-box > input{
  width: 20px;
  height: 20px;
  
}

#main-map {
  display: flex;
  align-self: center;
  height: 50dvh;
  width: 100dvw;
  border-radius: 5px;
  
}


.botoes{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 2%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6);
 padding-top: 50px;
}

.modal.show {
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 0% 5% 5% 5%;
  width: 90%;
  height: 70%;
  border-radius: 10px;
   box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.50);

}

.modal-content > #modal-map {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #fefefe;
  width: 95%;
  height: 62%;
  border-radius: 5px;
  margin: 10px;


}

.modal-content > #input-localizacao {
  width: 90%;
  height: 5%;
  border-radius: 5px;
  margin-top: 2%;
  align-self: center;
  border: 1px solid gray;


}

input::placeholder {
  color: gray;
  font-size: 14px;
  font-style: 'CoreFont';
  opacity: 0.7;
  padding: 5px;
}

.modal-content > .local {

  display: flex;
  padding: 2% 0px 0px 4.5%;
  align-items: center;
  font-style: 'CoreFont';
  color: gray;
}


.modal-content > .local > .marker {
  padding-right: 10px;    
  font-size: 30px;
}

.fechar {
    margin-top: 2%;
    position: absolute;
    right: 8%;
    z-index: 2000;
    color: gray;
}
.botao-confirmar{

    margin-bottom: 20px;
}

.autocomplete-sugestoes {
  list-style: none;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  margin: 5px auto 0 auto;
  padding: 0;
  background: #fff;
  position: relative;
  z-index: 999;
  width: 90%;
}

.autocomplete-sugestoes li {
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.autocomplete-sugestoes li:hover {
  background-color: #f5f5f5;
}

.header-busca {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 999;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.input-autocomplete {

  padding-left: 10px;

}

.aside-background{
    position: fixed;
    z-index: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.536);
    transition: 0.3s;
}

.form-usuario{
    position: fixed;
    z-index: 5;
    width: 600px;
    margin-top: 50px;
    margin-left: calc(50dvw - 300px);
    max-height: calc(100dvh - 100px);
    min-height: 400px;
    border-radius: 5px;
    background-color: white;
}
.form-usuario > header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 80px;
    
}
.form-usuario > header > .title-container{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.form-usuario > header > .title-container > i{
    font-size: 30px;
    background-color: var(--azul);
    color: var(--amarelo);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    
}
.form-usuario > header > .title-container > h1{
     
    font-weight: 400;
    font-size: 30px;
    cursor: default;
}
.form-usuario > header > i{
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.form-usuario > main{
 display: grid;
 padding: 20px 20px;
 box-sizing: border-box;
 height: 350px;
 grid-template-columns: 1fr 1fr;
 gap: 10px;
 overflow-y: auto;
}
.form-usuario > main > .obs-prod{
 grid-column: 1;
}
.form-usuario > main > .obs-uni{
 grid-column: 2;
}
.form-usuario > main > .field-container
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
   
}
.form-usuario > main > .field-container > label
{
    margin-bottom: 4px;
     
    font-size: 16px;
    cursor: default;
}
.form-usuario > main > .field-container > p
{
    margin-top: 4px;
     
    font-weight: 400;
    font-size: 13px;
    cursor: default;
    margin-top: 3px;
}

.form-usuario > main > .btns-container {
    grid-column: 2;
    margin-left: 130px;
  
}
.form-usuario > main > .btns-container > .criarProduto{
    background-color: antiquewhite;

}

@media only screen and (max-width: 700px) {

  .form-usuario{
        width: 300px;
        margin-top: 80px;
        margin-left: calc(50dvw - 150px);
        max-height: calc(100dvh - 10px);
    }
    .form-usuario > main{
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        height: 450px;
    }
    



}



