@font-face {
    font-family: 'CoreFont';
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

    --fundoBejeClaro: #F6F4F0;
    --verdeClaro: #79D7BE;
    --verdeAzulado: #4DA1A9;
    --azulEscuro: #2E5077;
    --hover: #A4F3DE;
    --azul:#4DA1A9;
    --vermelho:#EA1A1E;
    --concluido:#00A914;
    --backgroundCinza:#C5C4C1;
    --logo:#056B78;
    
    --FontSize: 12px;

    font-family: 'CoreFont';
  


}
body{
    background-color: var(--fundoBejeClaro);
    overflow-x: hidden;
    overflow-y: auto;
   
}

